@use "variables" as var;
@use "mixins";

.input {
  height: 30vh;

  &__text,
  &__btn {
    width: 60vw;
    margin-top: 10px;
  }
}

.output {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  width: 100%;
  border: 0;
  padding: 0;

  &__item {
    height: 3rem;

    background-color: rgb(255, 255, 255);

    &:nth-child(odd) {
      background-color: rgb(245, 245, 245);
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;

    &__done,
    &__text,
    &__time,
    &__delete {
      padding-left: 0 20px;
    }

    &__done {
      height: 25px;
      width: 25px;
      cursor: pointer;
    }

    &__delete {
      text-align: center;
      background: none;
      color: black;
      font-size: 1rem;
      border: none;
      margin-left: 10px;
      cursor: pointer;
      width: 5%;

      &:hover {
        color: red;
      }
    }

    &__time {
      display: flex;
      align-items: flex-end;
      font-size: 0.5rem;
      color: rgb(89, 89, 89);
      width: 10%;
    }

    &__text {
      margin-top: 5px;
      margin-left: 5px;
      font-size: 0.8rem;
      width: 80%;
      &.done {
        text-decoration: line-through;
      }
    }
  }
}
