body {
  padding: 0;
  margin: 0;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: black;

  &__text,
  &__btn {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

.output {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(243, 243, 243);
  width: 500px;
  border: 0;
  padding: 0;

  &__container {
    list-style-type: none;
    height: 3rem;
    width: 500px;
    background-color: rgb(239, 239, 239);

    &:nth-child(odd) {
      background-color: rgb(231, 231, 231);
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    &.done {
      background-color: rgba(115, 191, 115, 0.501);
      color: gray;
    }

    &__done,
    &__text,
    &__time,
    &__delete {
      padding-left: 0 20px;
    }

    &__done {
      height: 25px;
      width: 25px;
      cursor: pointer;
      background-color: blue;
    }

    &__delete {
      text-align: center;
      background: none;
      color: black;
      font-size: 1rem;
      border: none;
      padding: 0 10px;
      cursor: pointer;

      &:hover {
        color: red;
      }
    }

    &__time {
      display: flex;
      align-items: flex-end;
      font-size: 0.5rem;
      color: rgb(89, 89, 89);
    }

    // &__text {
    //   &.done {
    //     text-decoration: line-through;
    //     color: gray;
    //   }
    // }
  }
}
