//colors

$light-bg-color: white;
$dark-bg-color: black;
$light-font-color: black;
$dark-font-color: white;
$light-list-bg-color-first: rgb(255, 255, 255);
$light-list-bg-color-second: rgb(245, 245, 245);
$dark-list-bg-color-first: rgb(55, 55, 55);
$dark-list-bg-color-second: rgb(45, 45, 45);
