// breakpoints
$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

//colors
$light-bg-color: white;
$dark-bg-color: rgb(18, 19, 30);
$light-aside-color: rgb(245, 245, 245);
$dark-aside-color: rgb(25, 26, 41);
$light-font-color: black;
$dark-font-color: white;
$light-list-bg-color-first: rgb(255, 255, 255);
$light-list-bg-color-second: rgb(245, 245, 245);
$dark-list-bg-color-first: rgb(55, 55, 55);
$dark-list-bg-color-second: rgb(45, 45, 45);
